/* applenotes.css */

html {
  height: 100%;
  width: 100%;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  margin: 20px; /* Adds a margin of 20px on all sides */
  color: #333;
  line-height: 1.6;
}

h1, h2, h3, h4 {
  margin-top: 0;
}
h1 {
  font-size: 2.5rem; /* Large headings */
}
p {
  font-size: 1rem; /* Paragraph text */
}

ul.custom-bullets {
  list-style-type: none; /* Removes default bullets */
  padding: 0;
}

ul.custom-bullets li {
  position: relative; /* Establishes a positioning context for pseudo-elements */
  padding-left: 25px; /* Provides space for the custom bullet */
}

ul.custom-bullets li:before {
  content: ''; /* Required for :before to work */
  position: absolute;
  left: 0;
  top: 50%;
  display: inline-block;
  transform: translateY(-50%); /* Centers the circle vertically */
  height: 15px; /* Size of the circle */
  width: 15px; /* Size of the circle */
  border: 2px solid #BDBDBD; /* Creates the unfilled circle */
  border-radius: 50%; /* Makes the shape a circle */
  transition: background-color 0.3s; /* Smooth transition for background color */
}

ul.custom-bullets li.checked:before {
  content: ''; /* Ensures the pseudo-element is generated */
  background-image: url('https://raw.githubusercontent.com/andrewtavis/sf-symbols-online/master/glyphs_white/checkmark.png'); /* Checkmark icon */
  background-size: 60%; /* Adjust the size of the checkmark relative to the element size */
  background-position: center; /* Centers the checkmark within the bullet */
  background-repeat: no-repeat; /* Prevents the checkmark from repeating */
  background-color: #FCB927; /* Background color for "checked" state */
  border: 2px solid #FCB927; /* Changes the border to yellow */
  border-radius: 50%; /* Maintains the circular shape */
  display: inline-block; /* Ensures the pseudo-element is displayed */
  width: 15px; /* Width of the bullet point */
  height: 15px; /* Height of the bullet point */
  position: absolute; /* Positions the pseudo-element relative to its parent */
  left: 0; /* Aligns the pseudo-element to the left of the parent */
  top: 50%; /* Centers the pseudo-element vertically with respect to the parent */
  transform: translateY(-50%); /* Further ensures vertical centering */
}

a {
  text-decoration: underline #FCB927; /* Underline text in yellow */
  color: #FCB927
}

table {
  width: 50%; /* Full width of its container */
  table-layout: auto; /* Allows table to adjust column width based on content */
  border-collapse: collapse; /* Collapses borders for a cleaner look */
  margin-top: 10px; /* Adds margin above the table for spacing */
}

th, td {
  padding: 4px; /* Reduced padding for tighter cell spacing */
  text-align: left; /* Aligns text to the left; adjust as needed */
  border: 1px solid #ddd; /* Light grey border for each cell */
}

button {
  padding: 5px 10px; /* Increase the padding to make the button larger */
  border: 3px solid #FCB927; /* Example: a 3px solid border with a yellow color */
  font-size: 16px; /* Increase font size if needed */
  cursor: pointer; /* Changes cursor to pointer on hover for better user experience */
  background-color: #fff; /* Setting a white background for the button */
  color: #333; /* Dark text color for better readability */
  border-radius: 5px; /* Optional: adds a slight rounded corner */
  transition: background-color 0.3s, color 0.3s; /* Smooth transition for hover effects */
}

button:hover {
  background-color: #FCB927; /* Changes background to yellow on hover */
  color: #fff; /* Changes text color to white on hover */
}

input {
  padding: 10px;
  font-size: 16px;
  border: 2px solid #ccc;
  border-radius: 4px;
  position: relative;
  margin-bottom: 20px;
  transition: all 0.2s ease;
  outline: none;
}
